@font-face {
    font-family: BarlowCondensed-Light;
    src: url('../fonts/Barlow_Condensed/BarlowCondensed-Light.ttf');
}

@font-face {
    font-family: BarlowCondensed-Regular;
    src: url('../fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf');
}

@font-face {
    font-family: BarlowCondensed-Bold;
    src: url('../fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf');
}

@font-face {
    font-family: Nunito-Regular;
    src: url('../fonts/Nunito/Nunito-Regular.ttf');
}

#app {
    overflow-x: hidden;
}

/* Website Nav */

.website-nav .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 9;
}

.website-nav .nav img {
    min-width: 225px;
    height: 50px;
}

.website-nav ul {
    padding: 0;
    margin-top: 10px;
}

.website-nav ul li {
    list-style: none;
    float: left;
}

.website-nav ul li a {
    text-decoration: none;
    font-family: BarlowCondensed-Light;
    font-weight: 300;
    text-transform: capitalize;
    color: #4f2d7f;
    font-size: 18px;
    padding: 5px 20px;
    margin: 0px 10px;
}

.website-nav .nav .bar {
    font-size: 25px;
    padding: 12px;
    cursor: pointer;
}

.website-nav .nav .bar:hover {
    color: #4f2d7f;
}

/* End Website Nav */

/* Side Menu */

.side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 10;
    transition: 0.3s;
}

.open-menu {
    left: 0%;
}

.side-menu .close-section .close-icon {
    font-size: 50px;
    cursor: pointer;
    padding: 0px 27px;
}

.side-menu .close-section .close-icon:hover {
    color: #4f2d7f;
}

.side-menu ul li {
    list-style: none;
}

.side-menu ul li a {
    text-decoration: none;
    font-family: BarlowCondensed-Light;
    font-weight: 300;
    text-transform: capitalize;
    color: #4f2d7f;
    font-size: 18px;
    display: block;
    padding: 5px 0px;
}

/* End Side Menu */

/* Home */

.home .banner {
    background-image: url("../images/static/banner.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.home .banner .banner-overlay {
    width: 100%;
    height: 100%;
    background-color: #4f2d7fdc;
}

.home .banner .banner-overlay h5 {
    color: #fff;
    font-family: BarlowCondensed-Light;
}

.home .banner .banner-overlay h1 {
    color: #fff;
    font-family: BarlowCondensed-Regular;
    font-weight: 400;
}

.home .banner .banner-overlay p {
    color: #fff;
    font-family: BarlowCondensed-Light;
    font-size: 20px;
}

.home .banner .banner-overlay .btn {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-family: BarlowCondensed-Regular;
    border-radius: 25px;
    border: 2px solid #fff;
    padding: 10px 45px;
    transition: 0.3s;
    letter-spacing: 2px;
}

.home .banner .banner-overlay .btn:hover {
    color: #4f2d7f;
    background: #fff;
}

@media(max-width: 576px) {
    .home .banner {
        height: 600px;
    }
    .home .banner .banner-overlay {
        padding-top: 90px;
        text-align: center;
    }
}

@media(min-width: 576px) {
    .home .banner {
        height: 650px;
    }
    .home .banner .banner-overlay {
        padding-top: 120px;
    }
}

@media(min-width: 992px) {
    .home .banner {
        height: 100vh;
    }
    .home .banner .banner-overlay {
        padding-top: 100px;
    }
    .home .banner .banner-overlay h5 {
        font-size: 27px;
    }
    .home .banner .banner-overlay h1 {
        font-size: 60px;
    }
}

@media(min-width: 1480px) {
    .home .banner {
        height: 730px;
    }
}

/* Section 1 */

.section-1 .black-column {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-1 .black-column img {
    width: 100px;
}

.section-1 .black-column h3 {
    color: #fff;
    border-bottom: 2px solid #fff;
    font-family: BarlowCondensed-Regular;
}

.section-1 .black-column p {
    color: #fff;
    font-size: 16px;
    font-family: Nunito-Regular;
}

.section-1 .black-column .btn {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 40px;
    border-radius: 25px;
    border: 2px solid #fff;
    transition: 0.3s;
    font-family: Nunito-Regular;
}

.section-1 .black-column .btn:hover {
    color: #4f2d7f;
    background: #fff;
}

.section-1 .img-content .content h1 {
    color: #4f2d7f;
    font-family: BarlowCondensed-Regular;
    border-bottom: 2px solid #4f2d7f;
}

.section-1 .img-content .content p {
    font-size: 17px;
    color: #4f2d7f;
    font-family: Nunito-Regular;
}

@media(min-width: 992px) {
    .section-1 {
        margin-top: -150px;
        margin-bottom: 130px;
    }
    .section-1 .black-column {
        padding-top: 150px;
    }
}

/* End Section 1 */

/* Section 2 */

.section-2 {
    margin-bottom: 70px;
}

.section-2 .color-column {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #4f2d7f;
}

.section-2 .color-column img {
    width: 100px;
    height: 100px;
}

.section-2 .color-column h3 {
    color: #fff;
    border-bottom: 2px solid #fff;
    font-family: BarlowCondensed-Regular;
}

.section-2 .color-column p {
    color: #fff;
    font-size: 16px;
    font-family: Nunito-Regular;
}

.section-2 .color-column .btn {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 40px;
    border-radius: 25px;
    border: 2px solid #fff;
    transition: 0.3s;
    font-family: Nunito-Regular;
}

.section-2 .color-column .btn:hover {
    color: #4f2d7f;
    background: #fff;
}

.section-2 .img-content .content h1 {
    color: #4f2d7f;
    font-family: BarlowCondensed-Regular;
    border-bottom: 2px solid #4f2d7f;
}

.section-2 .img-content .content p {
    font-size: 17px;
    color: #4f2d7f;
    font-family: Nunito-Regular;
}

@media(min-width: 992px) {
    .section-2 {
        margin-bottom: 150px;
    }
    .section-2 .color-column {
        padding-top: 150px;
    }
}

/* End Section 2 */

/* Section 3 */

.section-3 {
    padding-bottom: 50px;
    font-family: BarlowCondensed-Regular;
}

.section-3 h1 {
    color: #4f2d7f;
}

.section-3 p {
    color: #4f2d7f;
    font-size: 20px;
}

.section-3 .boder {
    height: 2px;
    background: #4f2d7f;
    width: 150px;
    margin: auto;
}

.section-3 img {
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
}

.section-3 h3 {
    color: #4f2d7f;
    text-transform: capitalize;
    font-family: BarlowCondensed-Light;
}

@media(min-width: 992px) {
    .section-3 {
        padding-bottom: 120px;
    }
}

/* End Section 3 */

/* Work Flow */

.work-flow {
    padding-top: 100px;
    padding-bottom: 100px;
}

.work-flow .title p {
    color: #fff;
    font-size: 18px;
    font-family: Nunito-Regular;
}

.work-flow .title h1 {
    color: #fff;
    font-family: BarlowCondensed-Regular;
}

.work-flow .circle-row {
    position: relative;
}

.work-flow .circle-row .line {
    width: 100%;
    height: 1px;
    background: #dfdfdf49;
    position: absolute;
    top: 50px;
}

.work-flow .circle {
    width: 100px;
    height: 100px;
    margin: auto;
    background: #343a40 !important;
}

.work-flow .circle h2 {
    color: #fff;
    font-family: BarlowCondensed-Regular;
}

.work-flow h4 {
    color: #fff;
    font-family: BarlowCondensed-Regular;
}

.work-flow p {
    color: #fff;
    font-size: 14px;
    font-family: Nunito-Regular;
}

@media(min-width: 992px) {
    .work-flow h1 {
        font-size: 60px;
    }
}

/* End Work Flow */

/* Focused */

.focused {
    padding-top: 100px;
    padding-bottom: 100px;
}

.focused h4 {
    color: #4f2d7f;
    font-family: BarlowCondensed-Light;
}

.focused h1 {
    color: #4f2d7f;
    font-family: BarlowCondensed-Regular;
}

.focused .boder {
    width: 150px;
    height: 1px;
    background: #4f2d7f;
}

.focused h2 {
    color: #4f2d7f;
    font-family: BarlowCondensed-Light;
}

.focused p {
    font-size: 16px;
    font-family: Nunito-Regular;
}

/* End Focused */

/* Count */

.count-parallax {
    background: url('../images/static/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.count {
    padding-top: 80px;
    padding-bottom: 80px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4f2d7fdc;
}

.count h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 900;
    font-family: BarlowCondensed-Regular;
}

.count p {
    color: #fff;
    font-size: 18px;
    font-family: Nunito-Regular;
}

@media(max-width: 992px) {
    .count-parallax {
        height: 650px;
    }
}

@media(min-width: 992px) {
    .count-parallax {
        height: 250px;
    }
}

/* End Count */

/* Footer */

.footer {
    padding-top: 90px;
    padding-bottom: 90px;
}

.footer h3 {
    color: #4f2d7f;
    font-family: BarlowCondensed-Regular;
}

.footer ul {
    padding: 0;
}

.footer ul li {
    list-style: none;
    float: left;
    margin-right: 10px;
}

.footer ul li a i {
    padding: 10px 10px;
    font-size: 13px;
    color: #4f2d7f;
    border-radius: 25px;
    background: #dfdfdf;
    transition: 0.3s;
}

.footer ul li a i:hover {
    color: #fff;
    background: #4f2d7f;
}

.footer ul li a .fa-facebook-f {
    padding: 10px 13px;
    font-size: 13px;
}

.footer ul li a .fa-linkedin-in {
    padding: 10px 10px;
    font-size: 13px;
}

/* End Footer */

/* End Home */

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.flex-column {
    -ms-flex-direction: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
}